.subtitle {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-right: $phones-paddings;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  vertical-align: baseline;
  color: $almost-black;

  background-color: $white;

  @media (min-width: $tablets) {
    padding-right: 37px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktops) {
    padding-left: 0;
  }
}

.subtitle::before,
.subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;

  display: block;
  width: 100vw;
  height: 3px;
  margin-top: calc(1em / 2 + 3px);

  background-color: $green;
}

.subtitle::before {
  display: none;

  @media (min-width: $tablets) {
    right: 100%;

    display: block;
  }

  @media (min-width: $desktops) {
    margin-right: 37px;
  }
}

.subtitle::after {
  left: 0;
}
