.title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $almost-black;

  @media (min-width: $tablets) {
    font-size: 60px;
    line-height: 60px;
  }
}
